header{
    height: 100px;
    width: 100%;
    
    }

p {
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    
}    

table {
     margin-left: auto;
     margin-right: auto;  

}

th {
    padding-right: 20px; 
}

img {
    width: 300px;
}

.image_top{
    text-align: center;
}